@model ClusterViewModel

<div class="container">
    <div class="row pt-3">
        <div class="col-6">
            <h3 style="background-color:#B8B8FF; width:fit-content; color:#F8F7FF;padding:5px;border-radius:10px">
                @Model.Name Cluster
            </h3>
        </div>
        <div class="col-6">
            <span class="text-end" style="width:100%;display:inline-block;text-align:right">
                <a asp-action="Create" asp-controller="Estate" asp-route-clusterId="@Model.Id" class="btn" style="background-color:#9381FF; color:#F8F7FF">
                    <i class="bi bi-plus-circle"></i> &nbsp; Add Estate
                </a>
            </span>
        </div>
    </div>
</div>
<div class="container justify-content-center px-5">
    <div class="row">

        @foreach (var estate in Model.Estates)
        {
            <partial name="~/Views/Shared/Partials/_ActionCard.cshtml" , model="@(new CardActionViewModel{Label=estate.Name,ControllerName="Estate", ActionName="EstateUnits",
             image="~/images/cluster-icon.png", Route=estate.Id})" />
        }
    </div>
</div>

