@model CreateOccupantViewModel
@{
    var unitId = Context.Request.Query["unitId"];
    TempData.Keep();
}


<div class="container create-residence-container">
    <div class="d-flex align-items-center w-75 pt-4" style="margin: 0 auto;">
        <form asp-action="Create" asp-controller="Occupant" asp-route-unitId="@unitId" method="post" id="msform" style="margin: 0 auto;width:100%;">
            <div style="margin-top:2rem; margin: 0 auto; width:85%; border:1px solid #D9D9D9; padding:0rem 2rem 1rem 2rem">
                <div asp-validation-summary="All" class="text-danger"></div>
                <h3>Add Occupant</h3>

                <div class="form-group form-outline mt-2">
                    <label asp-for="FirstName" class="control-label mb-0">First Name</label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group form-outline mt-2">
                    <label asp-for="LastName" class="control-label mb-0">Last Name</label>
                    <input asp-for="LastName" class="form-control"></input>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group form-outline mt-2">
                    <label asp-for="Email" class="control-label mb-0">Email</label>
                    <input asp-for="Email" class="form-control"></input>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

            </div>

            <div class="pt-1 mt-2 mb-2 mr-5 text-right">
                <a asp-action="Index" asp-controller="Unit" asp-route-id="@Context.Request.Query["unitId"]" class="btn w-25" style="border:1px solid #FF0000; color:#FF0000;">
                    Cancel
                </a>
                <input type="submit" value="Add" class="btn w-25" style="background-color: #9381FF; color:#fff" />
            </div>

        </form>

    </div>
</div>

